// .footer {
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     min-height: 70px;
//     background-color: #18354c;
//     color: white;
//     text-align: center;
//     box-shadow: rgba(0, 0, 0, 0.45) 10px 0px 10px 2px;
// }

.footer {
    text-align: center;
    //background-color: rgba(0,21,41,);
    //min-height: 100%;
    color: rgba(0,21,41,);
    text-align: center;
}