/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr';

// @import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/primeng.css";

// @import "primeicons/primeicons.css";

// @import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";


app-root {
    display: inline-block;
    width: 100%;
    z-index: 1;
    position: fixed;
}

body, html, app-root {
    height: 100%;
}
body {
    background-color: #f5f8fa;
}
